<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filename</key>
		<string>diseases</string>
		<key>title</key>
		<string>Diseases</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>distances</string>
		<key>title</key>
		<string>Distances</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>drugs</string>
		<key>title</key>
		<string>Drugs</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>dwellings</string>
		<key>title</key>
		<string>Dwellings</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>elements</string>
		<key>title</key>
		<string>Elements</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>fabric</string>
		<key>title</key>
		<string>Fabrics</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>femaleNames</string>
		<key>title</key>
		<string>Female Names</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>fish</string>
		<key>title</key>
		<string>Fish</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>flies</string>
		<key>title</key>
		<string>Flying</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>flowers</string>
		<key>title</key>
		<string>Flowers</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>football</string>
		<key>title</key>
		<string>Football</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>footwear</string>
		<key>title</key>
		<string>Footwear</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>fruit</string>
		<key>title</key>
		<string>Fruit</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>fuels</string>
		<key>title</key>
		<string>Fuel</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>furniture</string>
		<key>title</key>
		<string>Furniture</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>gardening</string>
		<key>title</key>
		<string>Gardening</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>green</string>
		<key>title</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>herbs</string>
		<key>title</key>
		<string>Herbs</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>insects</string>
		<key>title</key>
		<string>Insects</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>instruments</string>
		<key>title</key>
		<string>Instruments</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>jewels</string>
		<key>title</key>
		<string>jewels</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>kitchenware</string>
		<key>title</key>
		<string>Kitchenware</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>liquids</string>
		<key>title</key>
		<string>Liquids</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>maleNames</string>
		<key>title</key>
		<string>Male Names</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>metals</string>
		<key>title</key>
		<string>Metals</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>military</string>
		<key>title</key>
		<string>Military</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>money</string>
		<key>title</key>
		<string>Money</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>music</string>
		<key>title</key>
		<string>Music</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>nature</string>
		<key>title</key>
		<string>Nature</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>noisy</string>
		<key>title</key>
		<string>Noisy</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>occupation</string>
		<key>title</key>
		<string>Occupation</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>politics</string>
		<key>title</key>
		<string>Politics</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>reading</string>
		<key>title</key>
		<string>Reading</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>relatives</string>
		<key>title</key>
		<string>Relatives</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>religious</string>
		<key>title</key>
		<string>Religion</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>sciences</string>
		<key>title</key>
		<string>Science</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>snake</string>
		<key>title</key>
		<string>Snakes</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>speech</string>
		<key>title</key>
		<string>Speech</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>sports</string>
		<key>title</key>
		<string>Sports</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>states</string>
		<key>title</key>
		<string>States</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>times</string>
		<key>title</key>
		<string>Times</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>tools</string>
		<key>title</key>
		<string>Tools</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>toys</string>
		<key>title</key>
		<string>Toys</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>trees</string>
		<key>title</key>
		<string>Trees</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>vegetables</string>
		<key>title</key>
		<string>Vegetables</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>vehicles</string>
		<key>title</key>
		<string>Vehicles</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>weapons</string>
		<key>title</key>
		<string>Weapons</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>weather</string>
		<key>title</key>
		<string>Weather</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>woods</string>
		<key>title</key>
		<string>Woods</string>
	</dict>
</array>
</plist>
